<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Betahuhn</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="robots" content="nofollow">
        <link rel="stylesheet" href="main.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <main>
            <img src="image.png" href="/" alt="FCK-AfD" width="200" height="200">
            <h1>Welcome, <%=name%></h1>
            <div class="btn-group">
                    <button onclick="window.location.href='/logout'" id="custom-button">Log out</button>
                    <button onclick="window.location.href='/new-password'" id="custom-button">Change password</button>
                    <button onclick="window.location.href='https://map.betahuhn.de'" id="custom-button">View Map</button>
                </div>          
        </main>
        <script src="main.js"></script>
    </body>
</html>